/* Кнопки */

.button {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-style: 16px;
  transition: background-color var(--transition-time)
      var(--transition-time-func),
    box-shadow var(--transition-time) var(--transition-time-func);
}

.button.filter {
  padding: 4px 20px;

  color: var(--title-text-color);
  background-color: var(--primary-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  transition: background-color var(--transition-time)
      var(--transition-time-func),
    color var(--transition-time) var(--transition-time-func);
}

.button.filter:hover,
.button.filter:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
}

/* HERO-кнопка */
.button.primary {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-time)
      var(--transition-time-func),
    box-shadow var(--transition-time) var(--transition-time-func);
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-btn {
  margin-left: 12px;

  padding: 8px 27px 8px 28px;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-time)
      var(--transition-time-func),
    box-shadow var(--transition-time) var(--transition-time-func);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-btn .social-icon {
  margin-left: 10px;
  fill: var(--secondary-accent-color);
}

.modal-send-button {
  margin-left: auto;
  margin-right: auto;
  display: block;

  margin-top: 30px;
  padding: 8px 53px;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);

  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-time)
      var(--transition-time-func),
    box-shadow var(--transition-time) var(--transition-time-func);
}

.modal-send-button:focus,
.modal-send-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ----------------------------------------------------------------- */
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;
}

.close-btn:hover .modal-icon {
  fill: var(--primary-accent-color);
}
