/* палитра текста */

/* Основной цвет текста: #757575; */

/* Вторичный цвет текста: #212121; */

/* Акцент:#2196F3; */

/* Белый #FFFFFF; */

/* Футер адресс #FFFFFF; */

/* Футер ссылки rgba(255, 255, 255, 0.6); */

/* WEB #2196F3; studio #000000; #FFFFFF; */

/* Герой #FFFFFF; */

/* Палитра фона */

/* Хэдер #FFFFFF; */

/* Герой #2F303A; */

/* Основной фон #E5E5E5; */

/* Вторичный фон+фильтр #F5F4FA; */

/* Ссылки */

/* Списки */

/* Изображения */

/* сброс */

/* -------------------visually-hidden */

/* CONTAINER */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ----------------COMPONENTS_____________________ */

/* Sections */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* ---------------------------------------------------start */
/* Кнопки */

/* ______________________________________________________end */

/* Ссылки на соц.сети */

.social-box {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* -------------------------------------------start */
/* HEADER */

/* site-nav */

/* ---------Полоска активной вкладки  */

/* header-contacts */

/* Hero */

/* HERO-кнопка */
/* .button.primary {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em; */

/* transition: background-color var(--transition-time)
      var(--transition-time-func),
    box-shadow var(--transition-time) var(--transition-time-func); */
/* } */

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------------------------------------------------end */

/* Секция преймущества */

/* .advantages {
  outline: 2px solid tomato;
  background-color: rgb(131, 71, 71);
} */

/* Секция Чем мы занимаемся */

/* Секция Команда */

/* .team-list img {
  margin-bottom: 30px;
} */

/* ------------------------SOCIAL-LIST------------- */

/* ------------------------SOCIAL-LIST------------- */

/* Секция Постоянные клиенты */

/* Секция Примеры работ */

/* .example {
  background-color: var(--header-bg-color);
} */

/* .filter-item::after {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  content: "";
  width: 100%;
  height: 100%;

  z-index: -1;

  opacity: 0;

  transition: opacity var(--transition-time) var(--transition-time-func);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:hover::after {
  opacity: 1;
} */

/* Карточки секции Примеры */

/* .example-list__item {
  position: relative;
} */

/* .card-thumb {
  border: 1px solid #eeeeee;
} */

/* -------------------------------------start */

/* футер */

/* -----------------------------------------------end */

/* Футер Форма подписки */

/* -----------------------модалка */

/* .modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  display: inline-block;
} */
