.clients__title {
  margin-bottom: 50px;
}

.clients-list {
  margin-left: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
  display: flex;
}

.clients-list__item {
  margin-left: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  flex-basis: calc((100% / 5) - var(--card-set-gap));
}

.clients-list__box {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-time) var(--transition-time-func);
  .clients-list__link:hover &,
  .clients-list__link:focus & {
    border: 1px solid var(--primary-accent-color);
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill var(--transition-time) var(--transition-time-func);
  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--primary-accent-color);
  }
}
